<%- include("./partials/header.ejs",{title:"404 - Not Found" }) %>
</head>
<body>
    <h1>404 - URL non trouvée</h1>
    <p><%= message %></p>
    <a href="/">Retour à l'accueil</a>

<%- include("./partials/footer.ejs") %>
