<%- include("./partials/header.ejs",{title:"Login" }) %>

  <h1>Connexion</h1>
  <form action="/login" method="post">
    <input type="text" name="username" required placeholder="Nom d'utilisateur">
    <input type="password" name="password" required placeholder="Mot de passe">
    <button type="submit">Se connecter</button>
  </form>
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>


<%- include("./partials/footer.ejs") %>
